

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500&display=swap');


body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../imagens/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #fff;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    width: 12%;
    top: 0;
    padding: 20px 40px;

}

.login{

    width: 450px;
    height: 550px;
    background-color: rgba(0,0,0,0.75);
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 60px;
    border-style: hidden;
    border-radius: 10px;
    transform: translateX(-50%);
    
}



h2{
    margin-bottom: 10px;
    font-size:32px;
    font-weight: 500;
    margin-top: 0;
}

.input-box input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #333;
    border: none;
    padding-left: 15px;
    box-sizing: border-box;
}

.input-box input:hover{
    background-color: #444;
}


.submit{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: #E50914;
    border:none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover{
    background-color: #ff222d;
    cursor: pointer;
}

.suporte{
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.suporte input{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.remember{
    display:flex;
    align-items: center;
}

#checkbox{
    margin : 0;
    padding: 0;
    height: 13px;
}

.remember span{
    margin-right: 5px;
    height: 25px;
}

.help a{
    color: #737373;
    text-decoration: none;
}
.help a:hover{
    text-decoration: underline;
}

.sign-up{
    color: #737373;
    font-size: 16px;
}
.sign-up a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.sign-up a:hover{
    text-decoration: underline;
}

.terms{
    color: #737373;
    font-size: 13px;
}
.terms a{
    color: #0071eb;
    text-decoration: none;
}

.terms a:hover{
    text-decoration: underline;
}




    
